camelot==13.04.13-gpl-pyqt
camelot_py==0.9.0
Flask==2.0.2
numpy==1.24.1
pandas==1.4.3
Pillow==9.4.0
psycopg2==2.9.5
psycopg2_binary==2.9.3
PyPDF2==3.0.1
python-dotenv==0.21.1
requests==2.28.1
SQLAlchemy==1.4.41
st_pages==0.3.1
streamlit==1.15.2
streamlit_keyup==0.2.0
streamlit-aggrid==0.3.3
